layout {
  tab name="Running Home" split_direction="horizontal"{
    pane {
      name "Home"
      focus true
      cwd "/Users/david.hoeppner/code/space-flavor"
    }
    pane split_direction="vertical"{
      pane {
        name "Graphql"
        cwd "/Users/david.hoeppner/code/space-flavor/graphql-service"
        command "run-graphql -s"
      }
      pane {
        name "Tunnel"
        command "tunnel-home"
      }
    }
  }
  
}
